{% extends 'base.html' %}

{% block title %}
    Main
{% endblock %}

{% block body %}
<h1 class="h1-header">Freelance with US</h1>
    <p>
    Тестовое задание для <a href="https://анверали.рф">анверали.рф</a>.
    </p>
    <br>

<p><strong>Условие</strong>: #2. Необходимо создать сайт с админ панелью и 2-мя кабинетами на Flask или Django. Сайт может быть не оформлен красиво. Структура на выбор. Можно взять за основу сайт kwork.ru. На сайте помимо админки должны быть два кабинета заказчика и исполнителя. Минимальный набор полей в профилях (имя, контактные данные, опыт). БД PostgreSQL</p>

    <p>

</p>


{% endblock %}